*.pth
*.zip
*.pyc
*.DS_Store
pretrained_models/ensemble/*
pretrained_models/load_pretrained_model_internal.py
pretrained_models/legal_pretrained_mdl/*
src/convert_model.py
src/convert_model2.py
tasks/speechcommands/gen_weight_file_sc.py
src/gen_weight_file.py
src/test.py
src/test_wget.py
.idea
/tasks/audioset/
/resources/
/tasks/esc50/exp/
/tasks/esc50/data/ESC-50-master/
/tasks/esc50/data/datafiles/
/tasks/gtzan/data/*
/tasks/openmic/data/*
/tasks/speechcommands/exp/
/tasks/speechcommands/data/*
/tasks/speechcommandsv1/exp/
/tasks/speechcommandsv1/data/*
/tasks/urbansound8k/data/*
